.projectdemo {
  padding: 50px 50px;
  background-color: var(--light-bg);
}

#dark .projectdemo {
  background-color: var(--dark-bg);
}

.projectdemo .projectdemo__heading {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  color: var(--slighty-black);
  margin-bottom: 5px;
}

#dark .projectdemo .projectdemo__heading {
  color: var(--slighty-white);
}

.projectdemo .projectdemo__text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--slighty-black);
  margin-bottom: 0px;
}

#dark .projectdemo .projectdemo__text {
  color: var(--slighty-white);
}

.projectdemo .projectdemo__container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.projectdemo__box {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: grey; */
  padding-bottom: 40px;
}

.projectdemo__text-box h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projectdemo__text-box p {
  margin-bottom: 20px;
}

.projectdemo__image-box {
  width: 100%;
  margin-bottom: 20px;
}

.projectdemo__image-box img {
  width: 100%;
  height: 100%;
}

.projectdemo__text-box {
  padding: 0 20px;
}

#dark .projectdemo__text-box {
  padding: 0 20px;
  color: var(--white);
}

.projectdemo__tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.projectdemo__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.projectdemo__icon {
  font-size: 25px;
  color: var(--dark-blue);
}

#dark .projectdemo__icon {
  color: var(--very-light-blue);
}

.projectdemo__tools span {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--dark-blue);
  color: var(--very-light-blue);
  padding: 10px;
}

#dark .projectdemo__tools span {
  color: var(--dark-blue);
  background-color: var(--very-light-blue);
}

@media screen and (max-width: 1024px) {
  .projectdemo .projectdemo__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .projectdemo {
    padding: 50px 30px;
  }

  .projectdemo .projectdemo__heading {
    font-size: 40px;
    line-height: 50px;
    /* margin-bottom: 30px; */
  }

  .projectdemo .projectdemo__text {
    font-size: 20px;
    line-height: 30px;
  }

  .projectdemo .projectdemo__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
