.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: red;
}

#light .about {
  background-color: #fff;
  color: #1e1e1e;
}

#dark .about {
  background-color: #1e1e1e;
  color: #fff;
}

.about-title {
  padding-left: 50px;
}

.about-title p.top {
  color: #2351dc;
  margin-bottom: 3px;
}

.about-title h2 {
  color: #2351dc;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-title h1 {
  margin-top: 0;
  color: #222;
}

.about-title p.bottom {
  color: #222;
  font-weight: 600;
  max-width: 400px;
}

.about img {
  height: 500px;
}

/* Adding CSS manually is only necessary in JSFiddle,
     where CSS can't be inserted into the <head> */
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}

@media screen and (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 20px;
  }

  .about-title {
    padding-left: 20px;
  }

  .about-title h2 {
    font-size: 20px;
  }

  .about-title h1 {
    font-size: 22px;
  }

  .about-title p.bottom {
    margin: 0 auto;
    font-size: 15px;
  }

  .about img {
    max-width: 90%;
  }
}
