.footer .middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer .icons {
    border: 1px solid black;
    color: black;
    border-radius: 50%;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .icons:hover {
    border: 1px solid blue;
    color: blue;
    transform: scale(1.05);
}

.footer {
    background-color: #ccc;
    padding: 50px 0;
}

.footer .bottom-container {
    text-align: center;
}

.footer .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer .top-container h2 {
    font-size: 30px;
}

.footer .empty-container {
    height: 3px;
    background-color: black;
    width: 20%;
}
