.footer {
    background-color: #07102C;
    color: white;
    padding: 50px;
}

.footer .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer .top-container h2 {
    font-size: 28px;
}

.footer .empty-container {
    height: 1px;
    background-color: white;
    width: 20%;
}

.footer .middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.footer .icons {
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    padding: 8px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .icons:hover {
    border: 1px solid #2351DC;
    color: #2351DC;
    transform: scale(1.05);
}

.footer .middle-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.footer .contact-icon {
    margin-right: 10px;
}

.footer .bottom-container {
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 50px 10px;
    }

    .footer .top-container {
        gap: 15px;
    }

    .footer .top-container h2 {
        font-size: 20px;
        text-align: center;
    }
    
    .footer .empty-container {
        width: 15%;
    }

    .footer .middle-container2 {
        flex-direction: column;
        gap: 10px;
    }
}