.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.navbar h1 {
    font-size: 25px;
    color: #0f0f0f;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 10px;
    z-index: 7;
}

.bar {
    display: block;
    width: 26px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: transform 0.15s ease;
    transition: transform 0.15s ease;
    background-color: #12122c;
    border-radius: 4px;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    opacity: 1;
    transform: translateY(8px) rotate(135deg);
}

.hamburger.active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-8px) rotate(-135deg);
}


@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }   
}