.skills {
  padding: 50px;
  background-color: var(--light-bg);
}

#dark .skills {
  background-color: var(--dark-bg);
}

.skills-heading {
  margin-bottom: 40px;
}

.skills-heading h1 {
  margin-bottom: 0px;
}

#dark .skills-heading h1 {
  margin-bottom: 0px;
  color: #fff;
}

.skills-heading p {
  color: #4d4d4d;
  margin-top: 10px;
}

#dark .skills-heading p {
  color: #fff;
}

.skills-set {
  /* width: 100%; */
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skills-heading h1 {
    font-size: 25px;
  }

  .skills-set {
    grid-template-columns: repeat(1, 1fr);
  }
}
