.skills {
  padding: 50px;
  background-color: var(--light-bg);
}

#dark .skills {
  background-color: var(--dark-bg);
}

.skills .skills__heading {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  color: var(--slighty-black);
  margin-bottom: 5px;
}

#dark .skills .skills__heading {
  color: var(--slighty-white);
}

.skills .skills__text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--black);
}

#dark .skills .skills__text {
  color: var(--white);
}

.skills .skills-set {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  gap: 40px;
  flex-wrap: wrap;
}

.skills .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.skills .react-icons {
  background-color: var(--dark-blue);
  color: var(--very-light-blue);
  font-size: 25px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

#dark .skills .react-icons {
  background-color: var(--very-light-blue);
  color: var(--dark-blue);
}

.skills .icon-name {
  font-size: 15px;
  line-height: 22px;
  color: var(--black);
}

#dark .skills .icon-name {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 50px 30px;
    background-color: var(--light-bg);
  }

  .skills .skills__heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
  }

  .skills .skills__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .skills .skills-set {
    gap: 25px;
  }
}
