.about {
  padding: 130px 50px;
  background-color: var(--light-bg);
}

#dark .about {
  background-color: var(--dark-bg);
}

.about .about__heading {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  color: var(--slighty-black);
  margin-bottom: 100px;
}

#dark .about .about__heading {
  color: var(--slighty-white);
}

.about .about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.about .about__text {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  max-width: 400px;
}

#dark .about .about__text {
  color: var(--white);
  max-width: 400px;
}

.about .about__image-container {
  max-width: 500px;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.about .about__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 130px 30px;
  }

  .about .about__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about .about__heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .about .about__text {
    max-width: 500px;
    margin: 0 auto;
  }

  .about .about__image-container {
    margin: 0 auto;
  }
}
