@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "../styles/layout.css";

html:has(section[role="modal"][data-open="true"]) {
  overflow: hidden;
}
