.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  width: 100%;
  font-family: U8-Bold, sans-serif;
}

.navbar h1 {
  font-size: 25px;
  line-height: 40px;
  color: #000;
}

#dark .navbar h1 {
  color: #fff;
}

.navbar .nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .nav-menu .nav-link {
  text-decoration: none;
  color: #000;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-family: U8, sans-serif;
}

#dark .navbar .nav-menu .nav-link {
  color: #fff;
}

.navbar .nav-menu .nav-link.active {
  font-family: U8-Bold, sans-serif;
  opacity: 1;
}

/* Navlink Underline Styling */
.navbar .nav-menu .nav-link::before {
  content: "";
  transition: all 0.3s ease;
  height: 2px;
  border-radius: 5%;
  position: absolute;
  background-color: #000;
  width: 100%;
  transform: scaleX(0);
  transform-origin: top center;
  left: 0;
  bottom: -5px;
}

#dark .navbar .nav-menu .nav-link::before {
  background-color: #fff;
}

.navbar .nav-menu .nav-link:hover::before {
  transform: scaleX(1);
}

/* Hamburger Styling */
.navbar .hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 7;
}

.navbar .bar {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
  background-color: #12122c;
  border-radius: 4px;
}

#dark .navbar .bar {
  background-color: #fff;
}

.navbar .bar:nth-child(2) {
  width: 42px;
}

.navbar .bar:nth-child(3) {
  width: 34px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 25px 30px;
  }

  .navbar .nav-menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 1s ease;
  }

  #dark .navbar .nav-menu {
    background-color: #191c1f;
  }

  .navbar .nav {
    display: none;
  }

  .navbar .nav.active {
    display: block;
  }

  .navbar .nav.active .nav-menu {
    left: 0;
  }

  .navbar li a {
    font-size: 16px;
    font-weight: 900;
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .hamburger.active .bar:nth-child(1) {
    background-color: #000;
    opacity: 1;
    transform: translateY(8px) rotate(135deg);
  }

  .navbar .hamburger.active .bar:nth-child(3) {
    background-color: #000;
    opacity: 1;
    transform: translateY(-8px) rotate(-135deg);
  }
}
