.skillset .skillset-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.skillset .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--dark-blue);
}

#dark .skillset .icon-container {
  background-color: var(--very-light-blue);
}

.skillset .skillset-icon {
  color: var(--very-light-blue);
  font-size: 25px;
  box-sizing: border-box;
}

#dark .skillset .skillset-icon {
  color: var(--dark-blue);
}

.skillset .icon-name {
  font-size: 15px;
  line-height: 22px;
  color: var(--black);
}

#dark .skillset .icon-name {
  color: var(--white);
}
