.skillset-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#dark .skillset {
  color: #fff;
}

.skillset-icon {
  background-color: #edf1fc;
  color: #2351dc;
  padding: 15px;
  font-size: 25px;
  border-radius: 5px;
}

/* .progress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 70%;
} */

/* .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #edf1fc;
} */

/* .progress-bar-inner {
  height: 10px;
  background-color: #2351dc;
} */
