.footer {
  color: var(--black);
  padding: 50px;
  background-color: var(--light-bg);
}

#dark .footer {
  background-color: var(--dark-bg);
  color: var(--white);
}

.footer .top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.footer .empty-container {
  height: 1px;
  background-color: var(--black);
  width: 20%;
}

#dark .footer .empty-container {
  background-color: var(--white);
}

.footer .top-container h2 {
  font-size: 28px;
  line-height: 36px;
}

.footer .middle-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.footer .icons {
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#dark .footer .icons {
  border: 1px solid var(--white);
  color: var(--white);
}

.footer .icons:hover {
  border: 1px solid var(--medium-blue);
  color: var(--medium-blue);
  transform: scale(1.05);
}

#dark .footer .icons:hover {
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

.footer .middle-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.footer .socials {
  color: var(--black);
  text-decoration: none;
}

#dark .footer .socials {
  color: var(--white);
  text-decoration: none;
}

.footer .socials:hover {
  color: var(--medium-blue);
  text-decoration: underline;
}

#dark .footer .socials:hover {
  color: var(--light-blue);
  text-decoration: underline;
}

.footer .contact-icon {
  margin-right: 10px;
}

.footer .bottom-container {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 30px;
  }

  .footer .top-container {
    gap: 15px;
  }

  .footer .top-container h2 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .footer .empty-container {
    width: 15%;
  }

  .footer .middle-container2 {
    flex-direction: column;
    gap: 10px;
  }
}
